/*********************Colors***********************/
.jumbotron{
  background-color: black
  color: white;
}

.main-page{
  background-color: #b26318;
  color: #f5e4b0;
}

.menu{
  text-align: center;
  background-color: #b26318;
  color: #f5e4b0;
  padding-bottom: 20px;
}

.about{
  background-color: #b26318;
  color: #f5e4b0;
}

/********************Format***********************/
h1{
  text-align: center;
  color: white;
}

.centerit{
  text-align: center;
}

.BurningMan{
  width: 65%;
  margin: 0 auto;
  text-indent: 5%;
  padding-bottom: 20px;
}

.giphy-embed{
  height: auto;
  width: 100%;
  object-fit: contain;
}

.image-backed{
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;

  height: 300px;
  text-align: center;
}

.topbun{
  background-image: url(../Images/MacroBurger.jpg);
  font-size: 60px;
  padding: 10px;
  color: white;
  text-shadow: 2px 2px #ff0000;
  border: 1px red solid;
  padding-top: 100px;
}

.bottombun{
  background-image: url(../Images/bottombun.jpg);
  max-height: 200px;
}

.divfit{
  height: auto;
  width: 100%;
  object-fit: contain;
}

.btn-custom {
    @include button-variant(#f5e4b0, #f5e4b0, #f5e4b0, #f5e4b0);
    color: #b26318;
    background-color: #f5e4b0;
}

button{
  margin: 0 auto;

}
btn-danger{
  color:#f5e4b0;
}

.buttons{
  line-height: 70px;
  text-align: center;
  padding-top: 10px;
}
.footer {
    padding-top: 60px;
    color: white;
    text-align: center;
}
